- var menu = { 'Integrations': '/integrations', 'API': '/api', 'Docs': '/docs', 'Sign Up': '/dashboard/signup', 'Log In': '/dashboard/login/' };

each val, key in menu
  li
    if pageSelected === key
      a.menu-item.active(href=val title=key)= key
    else if key === 'Log In'
      a.menu-item.login-btn(href=val title=key)= key
    else
      a.menu-item(href=val title=key)= key
