.padding-vertical.bg-dark(style="position: relative; z-index: 1")
  .row
    .column.small-12
      

  .row.padding-top-less.margin-top-less.border-top-light
    .column.medium-6
      ul.inline-list
        li.footer-sublinks
          small
            a(href="#").white-link--opacity Terms of Use
        li.footer-sublinks
          small
            a(href="#").white-link--opacity Privacy Policy
    .column.medium-6
      ul.inline-list.medium-float-right
        li.white-opacity(style="margin-left:0;")
          small &copy;2015 Source, Inc.
