.row(role="navigation")
  .column.small-1
    a(href="/" title="Home").logo.margin-top

  .column.small-11.show-for-large-up
    ul.inline-list.right.padding-top-less.medium-padding-top
      include main-menu.jade

  .column.small-3.hide-for-large-up.margin-top
    a(href="javascript:;").right-off-canvas-toggle.menu-icon.right
      span
      
aside.right-off-canvas-menu
  ul.no-bullet.padding-left.padding-top-less
    include main-menu.jade
