include ../_mixins/jademin

-var bodyClass = '';
block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block title
      title Source

    block meta
      meta(name='description' content='Source is an app that allows you to share, discuss, and read articles')
    link(rel="shortcut icon" href="/favicon.ico")    
    link(rel='stylesheet' href='/styles/main.css' data-instant-track)
    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700')
    include ../_includes/head.html

  body
    .off-canvas-wrap.container(class='#{bodyClass}' data-offcanvas)
      .inner-wrap
        block header
          include ../_includes/header

        block content

        block footer
          include ../_includes/footer
      
        a.exit-off-canvas
    
    block scripts
      +jademin('/scripts/main.min.js')
        script(src='/jquery/dist/jquery.js')
        script(src='/foundation/js/foundation/foundation.js')
        script(src='/foundation/js/foundation/foundation.magellan.js')
        script(src='/foundation/js/foundation/foundation.offcanvas.js')
        script(src='/foundation/js/foundation/foundation.accordion.js')
        script(src='/instantclick/instantclick.js')
        script(src='/_scripts/init.js')
        script(src='/angular/angular.js')
