// Whenever possible, avoid adding to this file.
// Styles should be abstracted from here into re-usable utilities.

.background-element {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
}

.home-logo {
  display: inline-block;
  margin: 0.25rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.feature-diagram-container {
  width: 20em;
  margin: auto;
}

html {
  min-height: 100%;
  height: inherit;
}

body {
  background: #4A4A4A;
}

.container {
  background-color: #ffffff;
}

.section {
  @extend .padding-vertical;
  @extend .large-padding-vertical-most;
}

ul {
  line-height: 1.8;
}

.side-nav a {
  display: inline-block !important;
  border-radius: 1em;
  transition: all 0.2s;
  position: relative;
  left: 0;
  &.active {
    color: white !important;
    background: $blue-light !important;
    left: .5em;
  }
}

#instantclick-bar {
  background: $blue-light;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 1.5rem 1.5rem 1.5rem 3.5rem;
  width: 100%;
  border: 1px solid $gray-medium;
  border-radius: 100px;
  background-color: rgba(255,255,255,0.5);
  box-sizing: border-box;
  transition: all 0.2s;
  &:focus,
  &:active {
    outline: none;
    border-color: $blue-light;
    box-shadow: 0 0 6px lighten($blue-light, 20%);
    background-color: rgba(255,255,255,1);
  }
}


::-webkit-input-placeholder {
   color: $gray-light;
}

:-moz-placeholder { /* Firefox 18- */
   color: $gray-light;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $gray-light;
}

:-ms-input-placeholder {
   color: $gray-light;
}

.note,
.warning {
  padding: 0.5rem 1rem;
  margin: 3rem 0 1rem;
  border: 1px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  font-weight: 600;
  & > p:last-of-type {
    margin-bottom: 0;
  }
  &:before {
    position: absolute;
    top: -26px;
    left: -1px;
    right: -1px;
    padding: 0 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.note {
  border-color: $gray-light;
  &:before {
    content: "NOTE";
    background: $gray-xlight;
    border: 1px solid $gray-light;
  }
}

.warning {
  border-color: #F2BA71;
  color: #E78300;
  &:before {
    content: "WARNING";
    background: #FFEFDF;
    border: 1px solid #F2BA71;
  }
}

.press-kit {
  background: rgba(215,215,215,0.09);
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 1em;
  button {
    width: 100%;
    display: block;
    letter-spacing: 1px;
    border-radius: 4px;
  }
  .secondary-button {
    margin-top: 25px;
    margin-bottom: 10px;
    background: #585858;
  }
  .primary-button {
    background-image: linear-gradient(-79deg, #4BCEB1 0%, #62EA70 100%, #62EA70 100%);
  }
}
