.logo {
  width: 130px;
  height: 25px;
  margin-bottom: 0.4rem;
  display: inline-block;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  @media #{$medium-up} {
    margin-bottom: 1.4rem;
  }
  .white-header & {
    background-image: url('../images/logo.svg');
  }
}

.menu-item {
  color: $blue-darker;
  font-size: 0.9em;
  @extend .uppercase;
  letter-spacing: 1.2px;
  opacity: 1;
  transition: opacity 0.2s;
  &:hover {
    color: $blue-darker;
    text-decoration: none;
  }
  .white-header &,
  .right-off-canvas-menu & {
    @extend .white;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    &:hover {
      opacity: 0.7;
    }
  }
  &.active {
    font-weight: bold;
    letter-spacing: 0.8px;
  }
}

// vertical spacing for mobile menu items
.right-off-canvas-menu li {
  margin-bottom: 1rem;
}

// login button is styled only on non-mobile menu
.show-for-large-up .login-btn {
  padding: 5px 15px 4px;
  border-radius: 1000px;
  border: 1px solid;
  display: inline-block;
  position: relative;
  top: -6px;
}

.menu-icon {
  display: block;
  min-height: 2.5rem;
  width: 2.5rem;
  span:after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 5px;
    right: 2rem;
    box-shadow: 0 0 0 1px $blue-dark, 0 7px 0 1px $blue-dark, 0 14px 0 1px $blue-dark;
    width: 1.3rem;
    @media #{$medium-only} {
      right: 2.5rem;
    }
    .white-header & {
      box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF;
    }
  }
}

// subnav

.subnav {
  margin-bottom: -1px;
  @media #{$small-only} {
    margin-left: inherit;
    & > li {
      text-align: center;
      padding: 0 0.25rem;
      margin-left: 0;
      width: 33%;
    }
  }
  @media #{$medium-up} {
    margin-left: -2.5rem;
    & > li {
      padding: 0 0.5rem;
    }
  }
}

.subnav-link {
  color: $gray-medium;
  padding: 0.4rem 0;
  font-size: 0.8rem;
  @media #{$medium-up} {
    font-size: 0.9rem;
    padding: 0 0 0.6rem;
  }
  @media #{$xlarge-up} {
    padding: 0 0.75rem 0.6rem;
  }
  &.active {
    font-weight: 600;
    color: $blue-light;
    border-bottom: 3px solid $blue-light;
    &:hover {
      cursor: default;
    }
  }
}
