// Timeline

// .timeline-item-left {
//     z-index: 1;
//   &:after {
//     content: "";
//     position: absolute;
//     background: #bfc1c9;
//     width: 50px;
//     height: 1px;
//     right: -23%;
//   }
//   @media #{$small-only} {
//     &:after {
//       width: 31px;
//       right: -19%;
//       // display: none;
//     }
//   }
// }
//
// .timeline-item-right {
//   &:before {
//     content: "";
//     position: absolute;
//     background: #bfc1c9;
//     width: 35px;
//     height: 1px;
//     left: -12%;
//   }
//   @media #{$small-only} {
//     &:before {
//       width: 20px;
//       left: -8%;
//       // display: none;
//     }
//   }
// }

.event-title-two {
  margin-top:6.8em;
  @media #{$small-only} {margin-top: 4em;}
}

.event-title-three {
  margin-top:10.5em;
  @media #{$small-only} {margin-top: 1.5em;}
}

.event-title-four {
  margin-top:10.7em;
  @media #{$small-only} {margin-top: 5.5em;}
}

.event-title-five {
  margin-top:10em;
  @media #{$small-only} {margin-top: 6.5em;}
}

.event-title-six {
  margin-top:12em;
  @media #{$small-only} {margin-top: 7.5em;}
}

.first-item {&:after {top: 4%;}}
.second-item {&:before {top: 19%;}}
.third-item {&:after {top: 44%;}}
.fourth-item {&:before {top: 53.5%;}}
.fifth-item {&:after {top: 88.5%;}}
.sixth-item {&:before {top: 90%;}}


@media #{$small-only} {
  .first-item {&:after {top: 2.7%;}}
  .second-item {&:before {top: 18%;}}
  .third-item {&:after {top: 41.5%;}}
  .fourth-item {&:before {top: 50%;}}
  .fifth-item {&:after {top: 82.5%;}}
  .sixth-item {&:before {top: 83.75%;}}
}


// End Timeline

.integration-logo {
  height: 2em;
  width: 2em;
  display: block;
  margin: auto;
  background-color: $gray-xlight;
  border: 1px solid $gray-light;
  background-size: 60%;
  border-radius: 100px;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.search-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 40px;
  top: 10px;
}

.small-icon {
  height: 0.95em;
  display: inline-block;
  position: relative;
  top: 2px;
  width: 2em;
}

.feature-container {
  position: relative;
  margin: 4rem auto;
  width: 20rem;
  @media #{$large-up} {
    width: 37.5rem;
    margin: auto;
  }
}

.feature-image {
  height: 6em;
  @media #{$large-up} {
    height: 10em;
  }
}

.feature-icon {
  position: absolute;
  &.feature-1 {
    top: -26%;
    right: 39%;
  }
  &.feature-2 {
    top:15%;
    right:-20%;
  }
  &.feature-3 {
    top:75%;
    right:-7%;
  }
  &.feature-4 {
    bottom: -27%;
    right: 43.5%;
  }
  &.feature-5 {
    top:75%;
    left:-15%;
  }
  &.feature-6 {
    top:15%;
    left:-10%;
  }

  @media #{$small-only} {
    & > .feature-label {
      display: none;
    }
    &.feature-1 {
      top: -18%;
      right: 44.5%;
    }
    &.feature-2 {
      top:14%;
      right:17%;
    }
    &.feature-3 {
      top:71%;
      right:16%;
    }
    &.feature-4 {
      bottom: -20%;
      right: 44.5%;
    }
    &.feature-5 {
      top:71%;
      left:16%;
    }
    &.feature-6 {
      top:14%;
      left:17%;
    }
  }
  @media #{$large-up} {
    & > .feature-label {
      display: inline-block;
    }
    &.feature-1 {
      top: -15%;
      right: 44%;
    }
    &.feature-2 {
      top:20%;
      right:2%;
    }
    &.feature-3 {
      top:74%;
      right:9%;
    }
    &.feature-4 {
      bottom: -17%;
      right: 46.1%;
    }
    &.feature-5 {
      top:75%;
      left:4%;
    }
    &.feature-6 {
      top:20%;
      left:7%;
    }
  }
}

.grow {
  transition: all 0.4s;
  &.larger-text {
    font-size: 160%;
    line-height: 1.2;
  }
}

.quote-anim {
  animation: pop 0.5s;
  &:before {
    content: "";
    display: inline-block;
    background-image: url('../images/quote.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
}

.ghost {
  animation: ghost-move 16s both cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s alternate infinite;
}

.ghost-shadow {
  animation: shadow-move 16s both cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s alternate infinite;
}

.project-box {
  border: solid 1px #EDEDED;
  border-radius: 9px;
  transition: border 0.3s;
  &:hover {
    border: solid 1px #ADAFC3;
  }
}
// =======================================
//      SOURCE ADDITIONS
// =======================================



// This constrains the whole thing
.row {
  max-width: 55em;
}

.margin-top-source {
  margin-top: 5em;
}

.right-off-canvas-menu {
  background: #4a4a4a;
}

.about-lead {
  font-weight: 400;
  font-size: 2em;
}

.about-quote {
  font-size: 1.4em;
  font-weight: 100;
}

.send-away {
  position: absolute;
  left: -5000px;
}

.mail-input {
    max-width: 400px!important;
    border-radius: 5px!important;
    border: none!important;
    margin: 0 auto!important;

}

.mc-embedded-subscribe {
  background-color: #4a4a4a;
  color: #fff;
  border-radius: 6px;
  margin-top: 13px;
  &:hover {
    background-color: #4a4a4a!important;
  }
}
