/* How it Works Illustration */

@keyframes btc-move {
  0% { transform: translateX(0); opacity: 0}
  40% { transform: translateX(0); opacity: 1}
  60% { transform: translateX(210px); opacity: 1}
  78% { transform: translateX(210px)}
  98% { transform: translateX(430px); opacity: 1}
  99% { transform: translateX(430px); opacity: 0}
  100% { transform: translateX(0); opacity: 0}
}

@keyframes btc-move-mobile {
  0% { transform: translateY(0); opacity: 0}
  40% { transform: translateY(0); opacity: 1}
  60% { transform: translateY(145px); opacity: 1}
  78% { transform: translateY(145px)}
  98% { transform: translateY(290px); opacity: 1}
  99% { transform: translateY(290px); opacity: 0}
  100% { transform: translateY(0); opacity: 0}
}

@keyframes fiat-move {
  0% { transform: translateX(0); opacity: 0}
  20% { transform: translateX(0); opacity: 1}
  45% { transform: translateX(230px); opacity: 1}
  46% { transform: translateX(230px); opacity: 0}
  100% { transform: translateX(0); opacity: 0}
}

@keyframes fiat-move-mobile {
  0% { transform: translatey(0); opacity: 0}
  20% { transform: translatey(0); opacity: 1}
  45% { transform: translatey(145px); opacity: 1}
  46% { transform: translatey(145px); opacity: 0}
  100% { transform: translatey(0); opacity: 0}
}

@keyframes btc-paid {
  0% { transform: translateY(0) scale(0.1); opacity: 0 }
  20% { transform: translateY(0); opacity: 1}
  35% { transform: translateY(-60px) scale(1.3) }
  37% { transform: translateY(-60px) scale(0.9) }
  39% { transform: translateY(-60px) scale(1.1) }
  41% { transform: translateY(-60px) scale(0.9) }
  43% { transform: translateY(-60px) scale(1); opacity: 1}
  95% { transform: translateY(-60px); opacity: 0}
  95% { transform: translateY(-65px) scale(0.1); opacity: 0}
  100% { transform: translateY(0); opacity: 0}
}

@keyframes btc-paid-mobile {
  0% { transform: translate3d(0) scale(0.1); opacity: 0 }
  20% { transform: translate3d(0); opacity: 1}
  35% { transform: translate3d(60px, -40px, 0) scale(1.3) }
  37% { transform: translate3d(60px, -40px, 0) scale(0.9) }
  39% { transform: translate3d(60px, -40px, 0) scale(1.1) }
  41% { transform: translate3d(60px, -40px, 0) scale(0.9) }
  43% { transform: translate3d(60px, -40px, 0) scale(1); opacity: 1}
  95% { transform: translate3d(60px, -40px, 0); opacity: 0}
  95% { transform: translate3d(65px, -40px, 0) scale(0.1); opacity: 0}
  100% { transform: translate3d(0); opacity: 0}
}

@keyframes focus-text {
  0% { opacity: 0}
  10% { opacity: 1}
  22% { opacity: 1}
  25% { opacity: 0.3}
  100% { opacity: 1}
}

@keyframes focus-text-up-right {
  0% { transform: translate3d(-5px, 5px, 0); opacity: 0}
  10% { transform: translate3d(0, 0, 0); opacity: 1}
  100% { opacity: 1}
}

@keyframes focus-text-down-right {
  0% { transform: translate3d(-5px, -5px, 0); opacity: 0}
  10% { transform: translate3d(0, 0, 0); opacity: 1}
  100% { opacity: 1}
}

@keyframes wiggle {
  0% { transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { transform: matrix3d(1.137, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.137, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(1.11, 0, 0, 0, 0, 1.08, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.11, 0, 0, 0, 0, 1.08, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { transform: matrix3d(1.068, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.068, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(1.023, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { transform: matrix3d(1.012, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { transform: matrix3d(0.975, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.975, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(0.972, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { transform: matrix3d(0.958, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.958, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(0.958, 0, 0, 0, 0, 0.963, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.958, 0, 0, 0, 0, 0.963, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.961, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(0.97, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(0.973, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.973, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(0.99, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(1.004, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { transform: matrix3d(1.006, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(1.008, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.008, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes twist-pop {
  0% { transform: matrix3d(0.81, 0, 0, 0, 0, 0.81, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.81, 0, 0, 0, 0, 0.81, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% { transform: matrix3d(0.882, 0, 0, 0, -0.041, 0.882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.882, 0, 0, 0, -0.041, 0.882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { transform: matrix3d(0.905, 0, 0, 0, -0.048, 0.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.905, 0, 0, 0, -0.048, 0.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.41% { transform: matrix3d(0.944, 0, 0, 0, -0.054, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.944, 0, 0, 0, -0.054, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { transform: matrix3d(0.976, 0, 0, 0, -0.053, 0.976, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.976, 0, 0, 0, -0.053, 0.976, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.71% { transform: matrix3d(1.01, 0, 0, 0, -0.037, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, -0.037, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { transform: matrix3d(1.01, 0, 0, 0, -0.037, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, -0.037, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { transform: matrix3d(1.019, 0, 0, 0, -0.018, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.019, 0, 0, 0, -0.018, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { transform: matrix3d(1.018, 0, 0, 0, -0.012, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.018, 0, 0, 0, -0.012, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { transform: matrix3d(1.004, 0, 0, 0, 0.002, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0.002, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.43% { transform: matrix3d(1.001, 0, 0, 0, 0.003, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0.003, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { transform: matrix3d(0.999, 0, 0, 0, 0.001, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0.001, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes spin {
  0% { transform: rotate(0) }
  20% { transform: rotate(-10deg) }
  50% { transform: rotate(760deg) }
  70% { transform: rotate(680deg) }
  80% { transform: rotate(740deg) }
  90% { transform: rotate(700deg) }
  100% { transform: rotate(720deg) }
}

@keyframes get-paid {
  0%, 100% {
    transform: rotate(0deg); background-color: $blue-light;
  }

  10% { transform: scale(0.2); }

  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-2.5deg);
  }

  50% { transform: scale(1.1);}

  20%, 40%, 60%, 80% {
    transform: rotate(2.5deg);
  }

  10%, 90% {
    background-color: #12C312;
  }

  100% { transform: scale(1)}

}

.how-works-illustration {
  height: 30rem;
  width: 20rem;
  margin: 0 auto;
  position: relative;
  @media #{$small-only} {
    margin-bottom: 3.5rem;
  }
  @media #{$medium-up} {
    height: 20rem;
    width: 43.75rem;
  }
}

.step1,
.step2,
.step3,
.step4,
.timeline,
.bitcoin,
.fiat,
.step1-text,
.step2-text,
.step3-text,
.step4-text {
  position: absolute;
}

.timeline {
  background: darken($gray-light, 10%);
  height: 95%;
  width: 3px;
  left: 9%;
  @media #{$medium-up} {
    width: 96%;
    height: 3px;
    top: 164px;
    left: 2%;
  }
}

.step1,
.step2,
.step3,
.step4 {
  z-index: 2;
  @media #{$medium-up} {
    top: 42%;
  }
}

.step1-icon,
.step2-icon,
.step3-icon,
.step4-icon {
  width: 3.75rem;
  height: 3.75rem;
  background-size: 45%;
  z-index:20;
  border-radius: 3px;
}

.step2 {
  @media #{$small-only} {
    top: 30%;
  }
  @media #{$medium-up} {
    left: 30%;
  }
}

.step3 {
  @media #{$small-only} {
    top: 60%;
  }
  @media #{$medium-up} {
    left: 60%;
  }
}

.step4 {
  bottom: 0;
  @media #{$medium-up} {
    right: 0;
  }
}

.step1-icon,
.step4-icon {
  background-color: $blue-light;
}

.step1-icon {
  animation: wiggle 1s linear forwards 4s;
}

.step2-icon {
  background-color: $blue-dark;
  animation: twist-pop 1s linear forwards 7s;
}

.step3-icon {
  background-color: #ffffff;
  border: 4px solid $blue-dark;
  border-radius: 60px;
  animation: spin 0.75s ease 10s;
}

.step4-icon {
  animation: get-paid 0.75s ease 13s;
}

.bitcoin,
.fiat {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 1;
  left: 6%;
  @media #{$medium-up} {
    top: 48%;
  }
}

.bitcoin,
.fiat,
.paid {
  background-size: 70%;
}

.bitcoin {
  background-color: #F2A900;
  animation: btc-move-mobile cubic-bezier(0.645, 0.045, 0.355, 1) 10s forwards;
  @media #{$small-only} {
    top: 4%;
  }
  @media #{$medium-up} {
    left: 3%;
    animation: btc-move cubic-bezier(0.645, 0.045, 0.355, 1) 10s forwards;
  }
}

.fiat {
  background-color: #12C312;
  animation: fiat-move-mobile ease-in-out 7s forwards 10s;
  @media #{$small-only} {
    top: 64%;
  }
  @media #{$medium-up} {
    left: 63%;
    animation: fiat-move ease-in-out 7s forwards 10s;
  }
}

.paid {
  width: 25px;
  height: 25px;
  background-color: #12C312;
  border-radius: 30px;
  position: absolute;
  opacity: 0;
  animation: btc-paid-mobile 1s ease-in-out 7.5s;
  @media #{$small-only} {
    top: 34%;
    left: 4%;
    z-index: 1;
  }
  @media #{$medium-up} {
    top: 48%;
    left: 32.5%;
    animation: btc-paid 1s ease-in-out 7.5s;
  }
}

.step1-text,
.step2-text,
.step3-text,
.step4-text {
  left: 170%;
  top: 80%;
  width: 180px;
  color: lighten($gray-darker, 20%);
  z-index: 1;
  animation: focus-text-down-right 3s ease backwards;
  @media #{$small-only} {
    &:before {
      left: -42px;
      top: -18px;
    }
    &:after {
      left: 64px;
      top: -20px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: lighten($gray-darker, 40%);
    width: 110px;
    height: 1px;
  }
  &:after {
    content:"";
    position: absolute;
    background: lighten($gray-darker, 40%);
    border-radius: 2px;
    width: 5px;
    height: 5px;
  }
  @media #{$medium-up} {
    &:before {
      width: 1px;
      height: 80px;
    }
  }
}

.step1-text,
.step3-text {
  @media #{$medium-up} {
    &:before {
      left: -20px;
    }
    &:after {
      left: -22px;
    }
  }
}

.step2-text,
.step4-text {
  @media #{$medium-up} {
    &:before {
      right: -20px;
    }
    &:after {
      right: -22px;
    }
  }
}

.step1-text,
.step3-text {
  @media #{$medium-up} {
    top: -110px;
    &:before,
    &:after {
      top: 30px;
    }
  }
}

.step2-text,
.step4-text {
  @media #{$medium-up} {
    top: 110px;
    &:before,
    &:after {
      bottom: 47px;
    }
  }
}

.step1-text {
  @media #{$medium-up} {
    left: 85%;
    animation: focus-text-up-right 3s ease backwards;
  }
}

.step2-text {
  animation-delay: 0.75s;
  @media #{$medium-up} {
    left: -277%;
    animation: focus-text-down-right 3s ease backwards 0.75s;
  }
}

.step3-text {
  animation-delay: 1.5s;
  @media #{$medium-up} {
    left: 83%;
    animation: focus-text-up-right 3s ease backwards 1.5s;
  }
}

.step4-text {
  animation-delay: 2.25s;
  @media #{$medium-up} {
    left: -277%;
    animation: focus-text-down-right 3s ease backwards 2.25s;
  }
}
