%pulse{
  border: 2px solid $blue-light;
  border: 2px solid #2F4AB5;
  border-radius: 30px;
  height: 10px;
  width: 10px;
  position: absolute;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  @media #{$medium-up} {
    height: 18px;
    width: 18px;
  }
}

.pulse-center {
  height: 2px;
  width: 2px;
  border-radius: 10px;
  background: $blue-light;
  background: #00BCCC;
  position: absolute;
  left: 2px;
  top: 2px;
  @media #{$medium-up} {
    height: 4px;
    width: 4px;
    left: 5px;
    top: 5px;
  }
}

@mixin pulse-every($every, $id) {
  .pulse-#{$id} {
    @extend %pulse;
    animation-name: pulsate-#{$id};
    animation-duration: $every+#{ms};
  }

  $ringAnimLength: 1400/$every;
  @keyframes pulsate-#{$id} {
    #{100% - ($ringAnimLength * 100)} { transform: scale(0.1,0.1); opacity: 0.0}
    #{100% - ($ringAnimLength * 50)} { opacity: 1.0}
    100% { transform: scale(1.4,1.4); opacity: 0.0}
  }
}


@include pulse-every(2000, '1');
@include pulse-every(3000, '2');
@include pulse-every(5000, '3');
@include pulse-every(7000, '4');
