extends _layouts/primary

block title
  title 404 – Page not found | BitPay
  
block content
  .section
    .row.large-margin-vertical-more
      .column.large-10.large-offset-1.text-center
        .h1.background-contain.unselectable.ghost(style="background-image: url('/images/ghost/ghost.png'); height: 4em;)")
        .h1.background-contain.opacity.unselectable.fade-in-up(style="background-image: url('/images/ghost/ghost-shadow.svg'); height: 0.4em;)")
          .h2.background-contain.opacity.unselectable.fade-in.margin-top-less.ghost-shadow(style="background-image: url('/images/ghost/ghost-shadow-inner.svg'); height: 0.348em;)")
        h1.margin-top-less.fade-in-up.delay-1 Oops... that page doesn't exist!
        p.lead.fade-in-up.delay-1 If it seems like there should be something here, <a href="mailto:support@bitpay.com?subject=404%20Error">please let us know</a>.
        a(href="/").white.btn.btn-blue-solid.uppercase.bold.btn-margin.fade-in-up.delay-1 Back to BitPay
